 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 677px;
}

.u-section-1 .u-shape-1 {
  width: 570px;
  height: 228px;
  margin: 40px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 270px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: 170px;
  }
}