.comics:hover {
  transform: scale(1.02);
}

.pulse {
  animation: pulse 1s linear infinite;
}

.comics {
  transition: transform 0.5s ease;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

select {
  font-size: 1vw;
  width: 50%;
  font-family: 'comic_sans_msbold_italic';
  font-weight: bold;
  font-style: italic;
  border-radius: 8px;
  border-right: 2px black solid;
  border-bottom: 2px black solid;
  border-left: 2px black solid;
  background-color: white;
}

.style-select select {
  background-color: blue;
}

.report {
  margin-top: 1vw;
  background-color: var(--bs-highlight-bg);
  border: 0.2vw solid black;
  position: relative;
  height: 12vw;
  font-size: 1.5vw;
  resize: none;
  width: 100%;
  font-family: 'Comic Sans MS';
  font-weight: bold;
  text-align: center;
}

.report:focus {
  outline: 0px;
}

.overlay {
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin-right: auto;
  margin-left: auto;
  margin-top: 17%;
  background-size: cover;
  background-image: url("../../assets/img/7955270.jpg");
  border: 0.2vw solid black;
  justify-content: center;
  padding: 1%;
  border-radius: 5px;
  width: 25%;
}

.popup .close {
  vertical-align: middle;
  height: 2vw;
  width: 10vw;
  border: 0.2vw solid black;
  background-color: var(--bs-orange);
  text-decoration: none;
  font-size: 1vw;
  font-weight: bold;
  color: black;
}

